

mat-sidenav {
  /*  margin: 16px;*/
    width: 200px;
    border-right: none;
    background: white;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
   /* border-radius: 10px;
    margin: 16px;
    margin-left: 32px;*/

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0rem;
    color: rgb(34, 31, 31);
  /*  background-color: white;*/

    
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    color: black;
  }
  .menu-button mat-icon {
    margin-right: 8px;
   
  }
  

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left:25px;
    height:40px;
    width: 40px; 
    margin-top: 0px;
}

.name {
    margin-top: 8px;
    font-weight: normal;
    margin-left: 10px;
}





.upload{
    color:white;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 10px;
    height: 40px;
    width: 130px;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
}
    .upload mat-icon {
        margin-right: 8px;
      }

.logo{
color:purple;

}

.alignLogo{
    margin-left:30px;
    padding-left: 35px;
    padding-top:10px;
    padding-bottom: 1px;
    justify-content: center;
    

   
}
.alignLogo mat-icon {
    height:50px;
    width: 50px;
  }
  .search{
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .searchbar{
    
    margin-top: 15px;
    margin-bottom: 0px;
  }
.alignCard{
  padding-top: 0px;
  margin-top: 20px;
  margin-left:20px;
  margin-right: 10px;
}

.docs{
  color:white;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
}
.docs mat-icon {
padding-right: 8px; 
height: 30px;
width: 30px;
}

.docsText{
font-weight: bold;
font-size: 20px;
}


.drawerContent{
  position: relative;
  z-index: 1;
  display: block;
  overflow: auto;
  background-color: white;
}
.mat-elevation-z8{
box-shadow: none;
}